* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}



body {
  font-family: 'Crimson Text', serif;
}

.portfolioHeader {
  height: 100vh;
  width: 100vw;
  background: -webkit-linear-gradient(rgb(57, 149, 202), rgb(185, 219, 241));
  display: flex;
  flex-direction: column;
}

.navbar {
  height: 12%;
  width: 100%;
  background-color: rgb(102, 135, 156);
  box-shadow: 0 4px 2px -2px gray;
  overflow: hidden;
}

.progress-container {
  width: 100%;
  height: 10%;
  background: #ccc;
}

.progress-bar {
  height: 100%;
  background: #acf3b6;
  width: 0%;
}

.navbarContent {
  height: 90%;
  width: 100%;
  /* border: 2px solid green; */
  display: flex;
  flex-direction: row;
}

.initials {
  height: 100%;
  width: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.initialsSpan {
  font-weight: bold;
  color: #da291d;
  margin-right: 10px;
}

.navbarlinks {
  height: 100%;
  width: 90%;
  /* border: 2px solid green; */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.navbarlink {
  text-decoration: none;
  color: black;
  font-size: 20px;
  height: 100%;
  width: 11%;
  /* border: 2px solid yellow; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.navbarlink:hover {
  background-color: rgb(47, 109, 151);
  color: white;
}

.navbar .icon {
  display: none;
}

.profileImageandTextContainer {
  height: 85%;
  width: 100%;
  margin-top: 90px;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: row;
}

.profileImageContainer {
  height: 100%;
  width: 50%;
  /* border: 2px solid black; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.profileImage {
  height: 400px;
  width: 275px;
  border-radius: 100px;
}

.profileImage:hover {
  transform: scale(1.02);
}

.textRotationContainer {
  height: 100%;
  width: 50%;
  /* border: 2px solid black; */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.textRotationPara {
  font-size: 40px;
  font-weight: bold;
  width: 70%;
  margin-right: 30%;
}

main {
  width: 100vw
}


#aboutContainer {
  height: 150vh;
  width: 100%;
  /* border: 2px solid blue; */
  display: flex;
  flex-direction: column;
  background-color: rgb(232, 239, 240);
  /* margin-top: 50px; */
}

.aboutContent {
  width: 100%;
  height: 6%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.aboutContent h1 {
  font-size: 60px;
  font-weight: bold;
  color: rgb(39, 76, 126);
  margin-top: 30px;
}

#skills {
  height: 150vh;
  width: 100%;
  /* border: 2px solid blue; */
  background: -webkit-linear-gradient(rgb(57, 149, 202), rgb(185, 219, 241));
  display: flex;
  flex-direction: column;
}

.skillsContent {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.skillsContent h1 {
  font-size: 60px;
  font-weight: bold;
  color: white;
  margin-top: 30px;
}

.FrontendandBackend {
  height: 44%;
  width: 100%;
  /* border: 2px solid green; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.Frontend {
  height: 100%;
  width: 48%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* border: 2px solid red; */
}

.FrontendHeading {
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.FrontendHeading h2 {
  font-size: 20px;
  color: white;
  font-weight: bold;
}

.FrontendSkills {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  /* border: 2px solid yellow; */
}

.FrontendSkills figure i {
  font-size: 100px;
  padding-right: 20px;
  padding-left: 20px;
}

.Backend {
  height: 100%;
  width: 48%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.BackendHeading {
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.BackendHeading h2 {
  font-size: 20px;
  color: white;
  font-weight: bold;
}

.BackendSkills {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  /* border: 2px solid yellow; */
}

.BackendSkills figure i {
  font-size: 100px;
  padding-right: 20px;
  padding-left: 20px;
}

.OtherTechincalandSoft {
  height: 44%;
  width: 100%;
  /* border: 2px solid green; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.Technical {
  height: 100%;
  width: 48%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.TechnicalHeading {
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.TechnicalHeading h2 {
  font-size: 20px;
  color: white;
  font-weight: bold;
}

.TechnicalSkills {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  /* border: 2px solid yellow; */
}

.TechnicalSkills figure i {
  font-size: 100px;
  padding-right: 20px;
  padding-left: 20px;
}

.Soft {
  height: 100%;
  width: 48%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SoftHeading {
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.SoftHeading h2 {
  font-size: 20px;
  color: white;
  font-weight: bold;
}

.SoftSkills {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  /* border: 2px solid yellow; */
}

.SoftSkills h2 {
  font-size: 40px;
}


#experience {
  height: 250vh;
  width: 100%;
  /* border: 2px solid blue; */
  background-color: rgb(232, 239, 240);
  display: flex;
  flex-direction: column;
  align-items: center;
}


.experienceContent {
  width: 100%;
  height: 6%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.experienceContent h1 {
  font-size: 60px;
  font-weight: bold;
  color: rgb(39, 76, 126);
  margin-top: 30px;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
  z-index: 0;
}

.timelinecontainer {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 100%;
  height: 200px;
  /* border: 2px solid green; */
  /* display: flex; */
}

.timelinecontainer:nth-of-type(1) {
  height: 100px;
}

.timelinecontainer:nth-of-type(5) {
  height: 400px;
}

.timelinecontainer:nth-of-type(6) {
  height: 400px;
}

.timelinecontainer::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.left {
  left: -50%;
}

.right {
  left: 50%;
}

.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

.right::after {
  left: -16px;
}

.timelinecontent {
  /* padding: 60px 100px; */
  background-color: white;
  width: 100%;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  align-items: flex-start;
}

.timelinecontent h2 {
  width: 100%;
  height: 22%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
  font-size: 30px;
  font-weight: bold;
  border: 2px solid gold;
}

.timelinecontainer:nth-of-type(1) .timelinecontent h2 {
  height: 40%;
}

.timelinecontainer:nth-of-type(5) .timelinecontent h2 {
  height: 11%;
}

.timelinecontainer:nth-of-type(6) .timelinecontent h2 {
  height: 11%;
}

.timelinecontent p {
  width: 100%;
  height: 80%;
  padding: 20px;
  font-size: 15px;
}

.timelinecontainer:nth-of-type(1) .timelinecontent p {
  display: flex;
  flex-direction: row;
  align-items: center;
}


#projects {
  height: 50vh;
  width: 100%;
  /* border: 2px solid blue; */
  background: -webkit-linear-gradient(rgb(57, 149, 202), rgb(185, 219, 241));
}

#contact {
  height: 50vh;
  width: 100vw;
  background-color: rgb(232, 239, 240);
}



@media screen and (max-width: 1100px) {
  .navbar a {display: none;}
  .navbar a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 1100px) {
  .navbar.responsive {position: relative;}
  .navbar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}